.scrollable-content {
  border-left: 5px solid var(--primary-300);
  background-color: var(--blend-primary-secondary-5);

  padding: 1em 0.5em;

  .scrollable-content-inner {
    height: #{$scrollable_content_height}px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 0;
      background: dark-light-choose($primary-medium, $secondary-medium);
    }

    &::-webkit-scrollbar-track {
      background: $primary-low;
      border-radius: 0;
      width: 6px;
    }
  }
}

html.rtl {
  .scrollable-content {
    border-left: none;
    border-right: 5px solid var(--primary-300);

    .scrollable-content-inner {
      padding-right: 0;
      padding-left: 20px;
    }
  }
}
